<div class="meta">
  <ul>
    <li><a id="edit" href="#">edit</a></li>
    <li class="last"><a id="save" href="#">save</a></li>
    <li class="last"><a id="preview" href="#">preview</a></li>
  </ul>
</div>

<div id="markview-output" class="markview">
  <%= @markdown %>
</div>