<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>Markview</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script> 
    <script src="/jquery.notifyBar.js"></script> 
    <script src="/app.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="/style.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/jquery.notifyBar.css" type="text/css" media="screen"  />
    </script>
  </head>
  <body>
    <div id="content" class="clear">
      <p id="file"><%= @title %></p>

      <%= yield %>

    </div>
  </body>
</html>